
body{
    font-size:1em;
    /* background-color:hotpink; */
    background-color:#fff7f0;
}

a {
  color: #0056b3;
  text-decoration: none;
}

a:hover {
  color: #003772;
  text-decoration: underline;
}


td {
    padding: 0px 10px;
}

/* .customclass { */
/*     display: table; */
/* } */

/* .customclass img{ */
/*     display: table-cell; */
/*     vertical-align: middle; */
/* } */
/* MENU */

hr#menu_hr{
    border: 0;
    height: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    /* border-top: medium double #333; */
    /* background: #333; */
    /* background-image: linear-gradient(to right, #ccc, #333, #ccc); */
    /* width:640px; */
    /* width:80%; */
    margin-top: -1em;
}

div#nav_bar{
    padding: 10px 0px;
    margin:auto;
    text-align:center;
    /* margin: 0 auto; */
    /* display: table; */
}

ul#menu{
    list-style-type: none;
    padding-left: 0;
}

ul#menu li{
    display: inline;
}

ul#menu li a{
    text-decoration: none;
    color: rgba(40,40,40,0.8);
    padding: 15px;
    text-align: center;
    font-size: 20pt;
}

ul#menu li a:hover{
    color: rgba(20,20,20,0.8);
}


/* IMAGE */

img{
    display: block;
    margin-left: auto;
    margin-right: 0px;
}


/* COLLAPSIBLES */

.collapsible {
  background-color:#ffe4cc;
  color: black;
  padding: 0 0.4em;
  margin: 2px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2em;
  /* font-weight: bold; */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ffbb80;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  overflow: hidden;
  /* padding: 0 15px; */
  /*  background-color: #fff7f0; */
}

/* Two columns */
.column {
  float: left;
  width: 50%;
  padding: 0 0.8em;
  margin: 2px 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
